// ==============================
// Custom style
// ==============================

.project-cover .details-inner:after {
    clear: both;
    content: '';
    display: table; }

.project-cover {
display: block;
position: relative; }
.project-cover.hold-space .cover-image:before {
    content: '';
    display: block;
    width: 100%; }
.project-cover.hold-space .cover {
    left: 0;
    min-height: 100%;
    position: absolute;
    top: 0; }
.project-cover .cover-image-wrap {
    overflow: hidden;
    position: relative; }
.project-cover .cover-image {
    position: relative;
    -webkit-transform: translateZ(0); }
    .project-cover .cover-image:after {
    -webkit-transition: background-color 0.2s ease, opacity 0.2s ease;
    -moz-transition: background-color 0.2s ease, opacity 0.2s ease;
    transition: background-color 0.2s ease, opacity 0.2s ease;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }
.project-cover .cover {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    min-height: 100%;
    overflow: hidden;
    width: 100%; }
    .project-cover .cover .cover__img {
    font-family: 'object-fit: cover;';
    height: calc(100% + 2px);
    left: 50%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% + 2px); }
    .project-cover .cover .cover__img.js-lazy {
        background-color: rgba(0, 0, 0, 0.03); }
    .project-cover .cover .cover__img.js-lazy.image-loaded {
        background-color: transparent; }
.project-cover .cover-rollover {
    opacity: 0;
    visibility: hidden; }
.project-cover:hover .cover-normal.has-rollover, .project-cover.touch-hover .cover-normal.has-rollover {
    opacity: 0;
    visibility: hidden; }
.project-cover:hover .cover-rollover, .project-cover.touch-hover .cover-rollover {
    opacity: 1;
    visibility: visible; }
.project-cover .title,
.project-cover .date,
.project-cover .custom1,
.project-cover .custom2,
.project-cover .description {
    clear: both; }
.project-cover .description {
    white-space: pre-line;
    word-wrap: break-word; }
.project-cover .details-inner {
    overflow: hidden; }


.project-cover:hover .details-wrap,
.project-cover.touch-hover .details-wrap {
opacity: 1; }

.project-cover .cover-content-container {
overflow: hidden;
position: relative; }

.project-cover .details-wrap {
opacity: 0;
position: absolute;
top: 0;
transition: opacity 0.15s ease; }

.project-cover .details-wrap {
-webkit-backface-visibility: hidden;
height: 100%; }

.project-cover .details {
display: flex;
height: 100%;
position: relative;
width: 100%; }

.project-cover .details-inner {
width: 100%; }


.icon-back-to-top {
-webkit-transform: translateX(-50%) translateY(-50%);
-moz-transform: translateX(-50%) translateY(-50%);
-ms-transform: translateX(-50%) translateY(-50%);
-o-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
display: block;
left: 50%;
position: absolute;
top: 50%; }

.project-cover {
margin-right: 15px;
}
.project-cover.hold-space .cover-image:before {
    padding-bottom: 133.33333%;
}
.project-cover .cover-image {
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.project-cover .cover-image:after {
    background-color: $global-background-color;
    opacity: 0;

    [theme=dark] & {
        background-color: $global-background-color-dark;
    }
}
.project-cover:hover .cover-image:after, .project-cover.touch-hover .cover-image:after {
    background-color: $global-background-color;
    opacity: 0.90;

    [theme=dark] & {
        background-color: $global-background-color-dark;
    }
}
.project-cover .cover-image,
.project-cover .cover-image:after,
.project-cover .cover {
    border-radius: 0px; }
.project-cover .details-wrap {
    max-width: 100%;
    padding-top: 8%;
    width: 100%; }
.project-cover .details {
    background: rgba(34, 34, 34, 0); }
.project-cover .details-inner {
    padding-bottom: 0%;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 0%; }
.project-cover .title {
    color: $global-font-color;
    float: none;
    font-family: Font Awesome 6;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    margin: auto;
    padding-bottom: 0px;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;

    [theme=dark] & {
        color: $global-font-color-dark;
    }
}
.project-cover .date {
    color: #757575;
    float: none;
    font-family: clby;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    margin: auto;
    padding-bottom: 0px;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 12px;
    text-align: center;
    text-transform: none;
    width: 100%; }
.project-cover .custom1 {
    color: #757575;
    float: none;
    font-family: clby;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin: auto;
    padding-bottom: 0px;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 12px;
    text-align: center;
    text-transform: none;
    width: 100%; }
.project-cover .custom2 {
    color: #757575;
    float: none;
    font-family: clby;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin: auto;
    padding-bottom: 0px;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 12px;
    text-align: center;
    text-transform: none;
    width: 100%; }
.project-cover .description {
    color: #757575;
    float: none;
    font-family: clby;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin: auto;
    padding-bottom: 0px;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 12px;
    text-align: center;
    text-transform: none;
    width: 100%; }


@media (max-width: 768px) {
    .project-cover .title {
        font-size: 14px;
        line-height: 18px;
        /* stylelint-disable length-zero-no-unit */
        /* stylelint-disable length-zero-no-unit */
    }
    .project-cover .date {
        font-size: 14px;
        line-height: 20px;
        /* stylelint-disable length-zero-no-unit */
        /* stylelint-disable length-zero-no-unit */
        /* stylelint-enable length-zero-no-unit */
        padding-top: 10px;
    }
    .project-cover .custom1 {
        font-size: 14px;
        line-height: 20px;
        /* stylelint-disable length-zero-no-unit */
        /* stylelint-disable length-zero-no-unit */
        /* stylelint-enable length-zero-no-unit */
        padding-top: 10px;
    }
    .project-cover .custom2 {
        font-size: 14px;
        line-height: 20px;
        /* stylelint-disable length-zero-no-unit */
        /* stylelint-disable length-zero-no-unit */
        /* stylelint-enable length-zero-no-unit */
        padding-top: 10px;
    }
    .project-cover .description {
        font-size: 14px;
        line-height: 20px;
        /* stylelint-disable length-zero-no-unit */
        /* stylelint-disable length-zero-no-unit */
        /* stylelint-enable length-zero-no-unit */
        padding-top: 10px;
    }
    .project-cover {
        padding-top: 0.3rem;
        width: calc(70% - 7.5px);
    }
    .project-cover:nth-child(2n) {
        margin-right: 0 !important;
    }
    .project-cover:nth-child(3n) {
        margin-right: 15px;
    }
    .project-cover:nth-child(3n + 1) {
        clear: none; 
    } 
}

@media (max-width: 540px) {
    .project-cover {
        margin-right: 0 !important;
        width: 100%; }
    .project-cover .title {
        font-size: 14px;
        line-height: 20px;
        /* stylelint-disable length-zero-no-unit */
        /* stylelint-disable length-zero-no-unit */ }
    .project-cover .date {
        font-size: 14px;
        line-height: 20px;
        /* stylelint-disable length-zero-no-unit */
        /* stylelint-disable length-zero-no-unit */
        /* stylelint-enable length-zero-no-unit */
        padding-top: 10px; }
    .project-cover .custom1 {
        font-size: 14px;
        line-height: 20px;
        /* stylelint-disable length-zero-no-unit */
        /* stylelint-disable length-zero-no-unit */
        /* stylelint-enable length-zero-no-unit */
        padding-top: 10px; }
    .project-cover .custom2 {
        font-size: 14px;
        line-height: 20px;
        /* stylelint-disable length-zero-no-unit */
        /* stylelint-disable length-zero-no-unit */
        /* stylelint-enable length-zero-no-unit */
        padding-top: 10px; }
    .project-cover .description {
        font-size: 14px;
        line-height: 20px;
        /* stylelint-disable length-zero-no-unit */
        /* stylelint-disable length-zero-no-unit */
        /* stylelint-enable length-zero-no-unit */
        padding-top: 10px; }
}

.project-cover .cover-content-container {
    margin-bottom: 15px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}

.project-cover .details-wrap {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    padding-bottom: 8%;
}

.project-cover .details {
border-radius: 0px; }

@media (max-width: 768px) {
    .project-cover .custom1,
    .project-cover .custom2,
    .project-cover .description {
        display: none;
    }
    .project-cover .cover-content-container {
        margin-bottom: 11px;
        margin-top: 0px;
    }
}

@media (max-width: 540px) {
    .project-cover .cover-content-container {
        margin-bottom: 10px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0px;
    }
}

.project-cover .details {
    align-items: center;
}

.exif {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: small;
    color: $global-font-color;
    
    [theme=dark] & {
        color: $global-font-color-dark;
    }
}

.prev,
.next {
    cursor: pointer;
    color: $global-background-color;
    font-weight: bold;
    font-size: 36px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.center-mobile {
    margin-left: auto;
    margin-right: auto;
}
