{% if post.id %}
  {% assign title = post.title | markdownify | strip_html %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<article class="entry {{ include.class }}">
  <h2 class="entry__title" style="font-size: 1.44em;"><a href="{{ post.url | relative_url }}" rel="bookmark">{{ title | widont }}</a></h2>
  {% assign feature_image = post.image.feature %}
  <div class="entry__meta" style="font-size: .6944444444em;">
    {% if post.date and layout != 'archive_work' %}
      <time class="entry__date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_long_string: 'ordinal', 'US' }}</time>
    {% endif %}
    {% if post.read_time %}
      <span class="page__meta">&nbsp;&#8226;&nbsp;&nbsp;<i class="far fa-clock" aria-hidden="true"></i> {% include read-time.html %}</span>
    {% endif %}
  </div>
  {% if post.excerpt %}
    <div class="entry__excerpt">{{ post.excerpt | markdownify }}</div>
  {% endif %}
</article>
