<!-- desktop columns -->
{{ $columnsCount := 3}}

{{ $.portfolioScratch.Set "columnsCount" $columnsCount }}
{{ $.portfolioScratch.Set "posts" $.posts }}

{{ $loopCount := 1 }}
{{ $loopFlag := 0 }}

{{ range $i, $post := $.posts }}
    {{ if gt $loopFlag (sub $columnsCount 1) }}
        {{ $loopFlag = 0}}
    {{ end }}
    {{ range $index, $num := (seq $columnsCount) }}
        {{ if eq (sub $loopFlag $index) 0 }}
            {{ $column := $.portfolioScratch.Get (printf "%d" $index) }}
            {{ $column = $column | append (dict "post" $post "loopCount" $loopCount) }}
            {{ $.portfolioScratch.Set (printf "%d" $index) $column }}
        {{ end }}
    {{ end }}
    {{ $loopCount = (add $loopCount 1) }}
    {{ $loopFlag = (add $loopFlag 1) }}
{{ end }}

<!-- mobile columns -->
{{ $mobileColumnsCount := 1 }}

{{ $.portfolioMobileScratch.Set "columnsCount" $mobileColumnsCount }}
{{ $.portfolioMobileScratch.Set "posts" $.posts }}

{{ $loopCount := 1 }}
{{ $loopFlag := 0 }}

{{ range $i, $post := $.posts }}
    {{ if gt $loopFlag (sub $mobileColumnsCount 1) }}
        {{ $loopFlag = 0}}
    {{ end }}
    {{ range $index, $num := (seq $mobileColumnsCount) }}
        {{ if eq (sub $loopFlag $index) 0 }}
            {{ $column := $.portfolioMobileScratch.Get (printf "%d" $index) }}
            {{ $column = $column | append (dict "post" $post "loopCount" $loopCount) }}
            {{ $.portfolioMobileScratch.Set (printf "%d" $index) $column }}
        {{ end }}
    {{ end }}
    {{ $loopCount = (add $loopCount 1) }}
    {{ $loopFlag = (add $loopFlag 1) }}
{{ end }}