<div class="columns work-width {{ if eq .type "mobile" }} is-mobile is-multiline {{ end }}">
    {{ if eq (len ($.scratch.Get "posts")) 0 }}
        <div class="column is-half is-offset-one-quarter">
            <div class="notification is-info is-light">
                There is no posts yet. #YOLO
            </div>
        </div>
    {{ else }}
    {{ range $index, $num := (seq ($.scratch.Get "columnsCount")) }}
        <div class="column">
            {{ $column := ($.scratch.Get (printf "%d" $index)) }}
            {{ range $row := $column }}

                {{ $scratch := newScratch }}

                {{ $path := (index $row "post") }}
                {{ $pathWithoutExt := strings.TrimSuffix (path.Ext $path) (path.Base $path) }}
                {{ $link := print "/photography/" ($pathWithoutExt | lower) "/"}}

                {{ if hasPrefix $path "/" }}
                    {{ $.scratch.Set "img" (resources.Get $path) }}
                {{ else }}
                    {{ $.scratch.Set "img" (resources.GetRemote $path) }}
                {{ end }}
                
                {{ $img := $.scratch.Get "img" }}
                {{ $resizer := "1000x r0" }}
                {{ $img = $img.Resize $resizer }}

                <a class="project-cover js-project-cover-touch hold-space" href="{{ $link }}">
                    <div class="cover-content-container">
                        <div class="cover-image-wrap">
                            <div class="cover-image">
                                <div class="cover cover-normal">
            <!--<div class="image-box {{ if eq ($.scratch.Get "columnsCount") 1 }} alittle {{ end }}">-->
                                    <img
                                    src="{{ $img.RelPermalink }}"
                                    loading="lazy"
                                    width="{{ $img.Width }}"
                                    height="{{ $img.Height }}"
                                    sizes="(max-width: 540px) 100vw, (max-width: 768px) 50vw, calc(100vw / 3)"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="details-wrap">
                            <div class="details">
                              <div class="details-inner">
                                  <div class="title preserve-whitespace">{{ $pathWithoutExt }}</div>
                              </div>
                            </div>
                          </div>
                    </div>
                </a>
            {{ end }}
        </div>
    {{ end }}
{{ end }}
</div>